* {
    margin: 0px;
}
.nav {
    background-color: bisque;
    height: 100px;
    display: flex;
    justify-content: space-between;
    margin-left: auto 0px;

}
.item {
    list-style: none;
    display: inline-flex;
    margin-left: 16px;
}
.list-item {
    padding-left: 0px;
  margin: auto 10px;
}
.chart-layout {
    padding: 32px 0px;
background-color: white;
height: 320px;
display: flex;
justify-content: space-around;
align-items: flex-end;


}
.chart-layout_item {
    background-color: brown;
height: var(--percent);
width: 50px;
animation: growth ease-in 1s;
}
@keyframes growth{

    form {
        opacity: 0;
        height: calc(var(--percent)-50%);
    }
    to {
        opacity: 1;
        height: 100%;
    }
}
.btn {
    display: inline-flex;
    text-decoration: none;
   border: none;
   outline: none;
   border-radius: 50px ;
   padding: 12px 48px;
   justify-content: center;
   width: 100%;
cursor: pointer;
  

}
.btn + .btn {
    margin-left: 10px;
}
.btn--success {
background-color: aquamarine;
}
.btn--warm {
background-color: brown;
}

.btn--danger {
background-color: chocolate;
}
.btn:hover {
    opacity: 0.5;
}


